DB_DRIVER=postgres
DB_SOURCE=postgresql://root:secret@postgres:5432/rupay?sslmode=disable
POSTGRES_USER=root
POSTGRES_PASSWORD=secret
POSTGRES_DB=rupay
SERVER_ADDRESS=8888

SAVAPAGE_ADMIN=xxx
SAVAPAGE_PASSWORD=xxx
SAVAPAGE_API=xxx